				<!-- 动画 - 音效帧 -->
				<page-frame id="animSoundFrame" value="animSoundFrame">
					<detail-box open>
						<detail-summary>Frame</detail-summary>
						<detail-grid id="animSoundFrame-properties-grid">
							<text>Sound</text
							><custom-box
								id="animSoundFrame-sound"
								type="file"
								filter="audio"
							></custom-box>
							<text>Volume</text
							><number-box
								id="animSoundFrame-volume"
								min="0"
								max="1"
								step="0.1"
								decimals="4"
							></number-box>
						</detail-grid>
					</detail-box>
				</page-frame>
