				<!-- 动画 - 精灵层 -->
				<page-frame value="animSpriteLayer">
					<detail-box open>
						<detail-summary>Sprite Layer</detail-summary>
						<detail-grid id="animSpriteLayer-properties-grid">
							<text>Sprite</text><select-box id="animSpriteLayer-sprite"></select-box>
							<text>Blend</text><select-box id="animSpriteLayer-blend"></select-box>
							<text>Light Sampling</text
							><select-box id="animSpriteLayer-light"></select-box>
						</detail-grid>
					</detail-box>
				</page-frame>
