				<!-- 动画 - 动作 -->
				<page-frame value="animMotion">
					<detail-box open>
						<detail-summary>Motion</detail-summary>
						<detail-grid id="animMotion-general-grid">
							<text>Direction</text><select-box id="animMotion-mode"></select-box>
							<text>Skip Last Frame</text
							><check-box id="animMotion-skip" class="standard large"></check-box>
							<text>Loop</text
							><check-box id="animMotion-loop" class="standard large"></check-box>
							<text>Loop Start</text
							><number-box id="animMotion-loopStart" min="0" max="10000"></number-box>
						</detail-grid>
					</detail-box>
				</page-frame>
