				<!-- 动画 - 粒子层 -->
				<page-frame value="animParticleLayer">
					<detail-box open>
						<detail-summary>Particle Layer</detail-summary>
						<detail-grid id="animParticleLayer-properties-grid">
							<text>Particle</text
							><custom-box
								id="animParticleLayer-particleId"
								type="file"
								filter="particle"
							></custom-box>
							<text>Position</text
							><select-box id="animParticleLayer-position"></select-box>
							<text>Angle</text><select-box id="animParticleLayer-angle"></select-box>
							<text>Order</text><select-box id="animParticleLayer-order"></select-box>
						</detail-grid>
					</detail-box>
				</page-frame>
