				<!-- 动画 - 关节帧 -->
				<page-frame id="animJointFrame" value="animJointFrame">
					<detail-box open>
						<detail-summary>Frame</detail-summary>
						<detail-grid id="animJointFrame-properties-grid">
							<text>Position</text>
							<box
								id="animJointFrame-position-box"
								class="uiElement-grid-box with-2-columns"
							>
								<number-box
									id="animJointFrame-x"
									min="-10000"
									max="10000"
									decimals="4"
									unit="px"
								></number-box>
								<number-box
									id="animJointFrame-y"
									min="-10000"
									max="10000"
									decimals="4"
									unit="px"
								></number-box>
							</box>
							<text>Rotation</text>
							<box
								id="animJointFrame-rotation-box"
								class="uiElement-grid-box with-2-columns"
							>
								<number-box
									id="animJointFrame-rotation"
									min="-36000"
									max="36000"
									decimals="4"
									unit="deg"
								></number-box>
							</box>
							<text>Scale</text>
							<box
								id="animJointFrame-scale-box"
								class="uiElement-grid-box with-2-columns"
							>
								<number-box
									id="animJointFrame-scaleX"
									min="-100"
									max="100"
									step="0.1"
									decimals="4"
								></number-box>
								<number-box
									id="animJointFrame-scaleY"
									min="-100"
									max="100"
									step="0.1"
									decimals="4"
								></number-box>
							</box>
							<text>Opacity</text>
							<box
								id="animJointFrame-opacity-box"
								class="uiElement-grid-box with-2-columns"
							>
								<number-box
									id="animJointFrame-opacity"
									min="0"
									max="1"
									step="0.05"
									decimals="4"
								></number-box>
							</box>
						</detail-grid>
					</detail-box>
				</page-frame>
