				<!-- 文件 - 脚本 -->
				<page-frame id="fileScript" value="fileScript">
					<detail-box open>
						<detail-summary>File Info</detail-summary>
						<detail-grid id="fileScript-info-grid">
							<text>Name</text><text id="fileScript-name"></text> <text>Size</text
							><text id="fileScript-size"></text>
						</detail-grid>
					</detail-box>
					<detail-box open>
						<detail-summary>Overview</detail-summary>
						<box id="fileScript-overview"></box>
					</detail-box>
				</page-frame>
