				<!-- 文件 - 视频 -->
				<page-frame id="fileVideo" value="fileVideo">
					<detail-box open>
						<detail-summary>File Info</detail-summary>
						<detail-grid id="fileVideo-info-grid">
							<text>Name</text><text id="fileVideo-name"></text> <text>Size</text
							><text id="fileVideo-size"></text> <text>Duration</text
							><text id="fileVideo-duration"></text> <text>Resolution</text
							><text id="fileVideo-resolution"></text> <text>Bitrate</text
							><text id="fileVideo-bitrate"></text>
						</detail-grid>
					</detail-box>
					<detail-box id="fileVideo-video-detail" open>
						<detail-summary>Player</detail-summary>
						<video id="fileVideo-video" controls="controls"></video>
					</detail-box>
				</page-frame>
