				<!-- 文件 - 字体 -->
				<page-frame id="fileFont" value="fileFont">
					<detail-box open>
						<detail-summary>File Info</detail-summary>
						<detail-grid id="fileFont-info-grid">
							<text>Name</text><text id="fileFont-name"></text> <text>Size</text
							><text id="fileFont-size"></text>
						</detail-grid>
					</detail-box>
					<detail-box id="fileFont-font-detail" open>
						<detail-summary>Font Preview</detail-summary>
						<detail-grid id="fileFont-font-grid">
							<text-box id="fileFont-content"></text-box>
							<text id="fileFont-12px" class="fileFont-preview"></text>
							<text id="fileFont-18px" class="fileFont-preview"></text>
							<text id="fileFont-24px" class="fileFont-preview"></text>
							<text id="fileFont-36px" class="fileFont-preview"></text>
							<text id="fileFont-48px" class="fileFont-preview"></text>
							<text id="fileFont-60px" class="fileFont-preview"></text>
							<text id="fileFont-72px" class="fileFont-preview"></text>
						</detail-grid>
					</detail-box>
				</page-frame>
