				<!-- 文件 - 装备 -->
				<page-frame value="fileEquipment">
					<detail-box open>
						<detail-summary>General</detail-summary>
						<detail-grid id="fileEquipment-general-grid">
							<text>Icon</text
							><custom-box
								id="fileEquipment-icon"
								type="file"
								filter="image"
							></custom-box>
							<text>Clip</text
							><custom-box
								id="fileEquipment-clip"
								type="clip"
								image="fileEquipment-icon"
							></custom-box>
							<text>Inherit</text
							><custom-box
								id="fileEquipment-inherit"
								type="file"
								filter="equipment"
							></custom-box>
						</detail-grid>
					</detail-box>
					<detail-box open>
						<detail-summary>Attributes</detail-summary>
						<param-list
							id="fileEquipment-attributes"
							class="inspector-list"
							group="equipment"
							flexible
						></param-list>
					</detail-box>
					<detail-box open>
						<detail-summary>Events</detail-summary>
						<param-list
							id="fileEquipment-events"
							class="inspector-list"
							filter="equipment"
							flexible
						></param-list>
					</detail-box>
					<detail-box open>
						<detail-summary>Scripts</detail-summary>
						<param-list
							id="fileEquipment-scripts"
							class="inspector-list"
							flexible
						></param-list>
					</detail-box>
					<parameter-pane id="fileEquipment-parameter-pane"></parameter-pane>
				</page-frame>
