				<!-- 文件 - 图块组 -->
				<page-frame id="fileTileset" value="fileTileset">
					<box id="palette-head">
						<box id="palette-head-start">
							<item id="palette-scroll" class="toolbar-item" value="scroll"></item>
							<item
								id="palette-priority"
								class="toolbar-item"
								value="priority"
							></item>
							<item id="palette-tag" class="toolbar-item" value="tag"></item>
							<item id="palette-terrain" class="toolbar-item" value="terrain"></item>
							<item id="palette-edit" class="toolbar-item" value="edit"></item>
							<item
								id="palette-flip"
								class="toolbar-item"
								value="flip"
								hotkey="F"
							></item>
						</box>
						<slider-box
							id="palette-zoom"
							name="zoom"
							min="0"
							max="4"
							hotkey="-/+"
						></slider-box>
					</box>
					<box id="palette-body">
						<box id="palette-frame">
							<canvas id="palette-canvas" width="0" height="0"></canvas>
							<box id="palette-screen" tabindex="-1">
								<marquee-area id="palette-marquee"></marquee-area>
							</box>
						</box>
						<text id="palette-info"></text>
					</box>
					<detail-box id="fileTileset-general-detail" open>
						<detail-summary>Tileset</detail-summary>
						<detail-grid id="fileTileset-general-grid">
							<text>Image</text
							><custom-box
								id="fileTileset-image"
								type="file"
								filter="image"
							></custom-box>
							<text>Width</text
							><number-box
								id="fileTileset-width"
								min="1"
								max="256"
								unit="tile"
							></number-box>
							<text>Height</text
							><number-box
								id="fileTileset-height"
								min="1"
								max="256"
								unit="tile"
							></number-box>
							<text>Tile Width</text
							><number-box
								id="fileTileset-tileWidth"
								min="16"
								max="256"
								unit="px"
							></number-box>
							<text>Tile Height</text
							><number-box
								id="fileTileset-tileHeight"
								min="16"
								max="256"
								unit="px"
							></number-box>
							<text>Tile Offset X</text
							><number-box
								id="fileTileset-globalOffsetX"
								min="-256"
								max="256"
								unit="px"
							></number-box>
							<text>Tile Offset Y</text
							><number-box
								id="fileTileset-globalOffsetY"
								min="-256"
								max="256"
								unit="px"
							></number-box>
							<text>Tile Priority</text
							><number-box
								id="fileTileset-globalPriority"
								min="-10"
								max="10"
								decimals="4"
							></number-box>
						</detail-grid>
					</detail-box>
				</page-frame>
