				<!-- 文件 - 事件 -->
				<page-frame value="fileEvent">
					<detail-box open>
						<detail-summary>General</detail-summary>
						<detail-grid id="fileEvent-general-grid">
							<text>Type</text><select-box id="fileEvent-type"></select-box>
							<text>Enabled</text
							><check-box id="fileEvent-enabled" class="standard large"></check-box>
							<text>Priority</text
							><check-box id="fileEvent-priority" class="standard large"></check-box>
							<text>Namespace</text
							><check-box id="fileEvent-namespace" class="standard large"></check-box>
							<text>Return Type</text
							><select-box id="fileEvent-returnType"></select-box>
							<text>Description</text
							><text-area id="fileEvent-description"></text-area>
						</detail-grid>
						<detail-box open>
							<detail-summary>Parameters</detail-summary>
							<param-list
								id="fileEvent-parameters"
								class="inspector-list"
								flexible
							></param-list>
						</detail-box>
					</detail-box>
				</page-frame>
