				<!-- 文件 - 图像 -->
				<page-frame id="fileImage" value="fileImage">
					<detail-box open>
						<detail-summary>File Info</detail-summary>
						<detail-grid id="fileImage-info-grid">
							<text>Name</text><text id="fileImage-name"></text> <text>Size</text
							><text id="fileImage-size"></text> <text>Resolution</text
							><text id="fileImage-resolution"></text>
						</detail-grid>
					</detail-box>
					<detail-box id="fileImage-image-detail" open>
						<detail-summary>Image</detail-summary>
						<box id="fileImage-image-viewer">
							<img id="fileImage-image" />
						</box>
					</detail-box>
				</page-frame>
