				<!-- 文件 - 界面 -->
				<page-frame value="fileUI">
					<detail-box open>
						<detail-summary>Stage Foreground</detail-summary>
						<detail-grid id="fileUI-foreground-grid">
							<text>Width</text
							><number-box
								id="fileUI-width"
								min="8"
								max="7680"
								unit="px"
							></number-box>
							<text>Height</text
							><number-box
								id="fileUI-height"
								min="8"
								max="7680"
								unit="px"
							></number-box>
						</detail-grid>
					</detail-box>
				</page-frame>
