				<!-- 场景 - 动画 -->
				<page-frame value="sceneAnimation">
					<detail-box open>
						<detail-summary>General</detail-summary>
						<detail-grid id="sceneAnimation-general-grid">
							<text>Name</text><text-box id="sceneAnimation-name"></text-box>
							<text>Animation</text
							><custom-box
								id="sceneAnimation-animationId"
								type="file"
								filter="animation"
							></custom-box>
							<text>Motion</text><select-box id="sceneAnimation-motion"></select-box>
							<text>Rotatable</text
							><select-box id="sceneAnimation-rotatable"></select-box> <text>X</text
							><number-box
								id="sceneAnimation-x"
								min="-128"
								max="640"
								step="0.1"
								decimals="4"
								unit="tile"
							></number-box>
							<text>Y</text
							><number-box
								id="sceneAnimation-y"
								min="-128"
								max="640"
								step="0.1"
								decimals="4"
								unit="tile"
							></number-box>
							<text>Angle</text
							><flex-box id="sceneAnimation-angle-box">
								<slider-box
									id="sceneAnimation-angle-slider"
									min="0"
									max="360"
									step="45"
								></slider-box>
								<number-box
									id="sceneAnimation-angle"
									min="-360"
									max="360"
									step="45"
									decimals="4"
									unit="deg"
								></number-box>
							</flex-box>
							<text>Scale</text
							><flex-box id="sceneAnimation-scale-box">
								<slider-box
									id="sceneAnimation-scale-slider"
									min="0"
									max="2"
									step="0.1"
								></slider-box>
								<number-box
									id="sceneAnimation-scale"
									min="0"
									max="10"
									step="0.1"
									decimals="4"
								></number-box>
							</flex-box>
							<text>Speed</text
							><flex-box id="sceneAnimation-speed-box">
								<slider-box
									id="sceneAnimation-speed-slider"
									min="0"
									max="2"
									step="0.1"
								></slider-box>
								<number-box
									id="sceneAnimation-speed"
									min="0"
									max="10"
									step="0.1"
									decimals="4"
								></number-box>
							</flex-box>
							<text>Opacity</text
							><flex-box id="sceneAnimation-opacity-box">
								<slider-box
									id="sceneAnimation-opacity-slider"
									min="0"
									max="1"
									step="0.05"
								></slider-box>
								<number-box
									id="sceneAnimation-opacity"
									min="0"
									max="1"
									step="0.05"
									decimals="4"
								></number-box>
							</flex-box>
							<text>Priority</text
							><flex-box id="sceneAnimation-priority-box">
								<slider-box
									id="sceneAnimation-priority-slider"
									min="-4"
									max="4"
									step="1"
								></slider-box>
								<number-box
									id="sceneAnimation-priority"
									min="-512"
									max="512"
								></number-box>
							</flex-box>
						</detail-grid>
					</detail-box>
					<detail-box open>
						<detail-summary>Conditions</detail-summary>
						<param-list
							id="sceneAnimation-conditions"
							class="inspector-list"
							flexible
						></param-list>
					</detail-box>
					<detail-box open>
						<detail-summary>Events</detail-summary>
						<param-list
							id="sceneAnimation-events"
							class="inspector-list"
							filter="animation"
							flexible
						></param-list>
					</detail-box>
					<detail-box open>
						<detail-summary>Scripts</detail-summary>
						<param-list
							id="sceneAnimation-scripts"
							class="inspector-list"
							flexible
						></param-list>
					</detail-box>
					<parameter-pane id="sceneAnimation-parameter-pane"></parameter-pane>
				</page-frame>
