				<!-- 场景 - 瓦片地图 -->
				<page-frame value="sceneTilemap">
					<detail-box open>
						<detail-summary>General</detail-summary>
						<detail-grid id="sceneTilemap-general-grid">
							<text>Name</text><text-box id="sceneTilemap-name"></text-box>
							<text>Layer</text><select-box id="sceneTilemap-layer"></select-box>
							<text>Order</text
							><number-box id="sceneTilemap-order" min="0" max="100"></number-box>
							<text>Light Sampling</text
							><select-box id="sceneTilemap-light"></select-box> <text>Blend</text
							><select-box id="sceneTilemap-blend"></select-box> <text>X</text
							><number-box
								id="sceneTilemap-x"
								min="-128"
								max="640"
								step="0.1"
								decimals="4"
								unit="tile"
							></number-box>
							<text>Y</text
							><number-box
								id="sceneTilemap-y"
								min="-128"
								max="640"
								step="0.1"
								decimals="4"
								unit="tile"
							></number-box>
							<text>Width</text
							><number-box
								id="sceneTilemap-width"
								min="0"
								max="512"
								unit="tile"
							></number-box>
							<text>Height</text
							><number-box
								id="sceneTilemap-height"
								min="0"
								max="512"
								unit="tile"
							></number-box>
							<text>Anchor X</text
							><number-box
								id="sceneTilemap-anchorX"
								min="0"
								max="1"
								step="0.1"
								decimals="4"
							></number-box>
							<text>Anchor Y</text
							><number-box
								id="sceneTilemap-anchorY"
								min="0"
								max="1"
								step="0.1"
								decimals="4"
							></number-box>
							<text>Offset X</text
							><number-box
								id="sceneTilemap-offsetX"
								min="-10000"
								max="10000"
								unit="px"
							></number-box>
							<text>Offset Y</text
							><number-box
								id="sceneTilemap-offsetY"
								min="-10000"
								max="10000"
								unit="px"
							></number-box>
							<text>Parallax Factor X</text
							><number-box
								id="sceneTilemap-parallaxFactorX"
								min="-4"
								max="4"
								step="0.1"
								decimals="4"
							></number-box>
							<text>Parallax Factor Y</text
							><number-box
								id="sceneTilemap-parallaxFactorY"
								min="-4"
								max="4"
								step="0.1"
								decimals="4"
							></number-box>
							<text>Opacity</text
							><number-box
								id="sceneTilemap-opacity"
								min="0"
								max="1"
								step="0.05"
								decimals="4"
							></number-box>
						</detail-grid>
					</detail-box>
					<detail-box open>
						<detail-summary>Conditions</detail-summary>
						<param-list
							id="sceneTilemap-conditions"
							class="inspector-list"
							flexible
						></param-list>
					</detail-box>
					<detail-box open>
						<detail-summary>Events</detail-summary>
						<param-list
							id="sceneTilemap-events"
							class="inspector-list"
							filter="tilemap"
							flexible
						></param-list>
					</detail-box>
					<detail-box open>
						<detail-summary>Scripts</detail-summary>
						<param-list
							id="sceneTilemap-scripts"
							class="inspector-list"
							flexible
						></param-list>
					</detail-box>
					<parameter-pane id="sceneTilemap-parameter-pane"></parameter-pane>
				</page-frame>
