				<!-- 界面 - 对话框 -->
				<page-frame value="uiDialogBox">
					<detail-box open>
						<detail-summary>DialogBox Properties</detail-summary>
						<detail-grid id="uiDialogBox-properties-grid">
							<text>Content</text
							><text-area
								id="uiDialogBox-content"
								menu="tag-localization"
							></text-area>
							<text>Print Interval</text
							><number-box
								id="uiDialogBox-interval"
								min="0"
								max="100"
								decimals="4"
								unit="ms"
							></number-box>
							<text>Size</text>
							<flex-box id="uiDialogBox-size-box">
								<slider-box
									id="uiDialogBox-size-slider"
									min="12"
									max="52"
									step="2"
								></slider-box>
								<number-box
									id="uiDialogBox-size"
									min="10"
									max="400"
									step="1"
									unit="px"
								></number-box>
							</flex-box>
							<text>Line Spacing</text>
							<flex-box id="uiDialogBox-lineSpacing-box">
								<slider-box
									id="uiDialogBox-lineSpacing-slider"
									min="0"
									max="20"
									step="1"
								></slider-box>
								<number-box
									id="uiDialogBox-lineSpacing"
									min="-10"
									max="100"
									step="1"
									unit="px"
								></number-box>
							</flex-box>
							<text>Letter Spacing</text>
							<flex-box id="uiDialogBox-letterSpacing-box">
								<slider-box
									id="uiDialogBox-letterSpacing-slider"
									min="0"
									max="20"
									step="1"
								></slider-box>
								<number-box
									id="uiDialogBox-letterSpacing"
									min="-10"
									max="100"
									step="1"
									unit="px"
								></number-box>
							</flex-box>
							<text>Color</text><color-box id="uiDialogBox-color"></color-box>
							<text>Font</text><text-box id="uiDialogBox-font"></text-box>
							<text>Typeface</text><select-box id="uiDialogBox-typeface"></select-box>
							<text>Effect</text
							><select-box id="uiDialogBox-effect-type"></select-box>
							<text>Shadow X</text
							><number-box
								id="uiDialogBox-effect-shadowOffsetX"
								min="-9"
								max="9"
								unit="px"
							></number-box>
							<text>Shadow Y</text
							><number-box
								id="uiDialogBox-effect-shadowOffsetY"
								min="-9"
								max="9"
								unit="px"
							></number-box>
							<text>Stroke Width</text
							><number-box
								id="uiDialogBox-effect-strokeWidth"
								min="1"
								max="20"
								unit="px"
							></number-box>
							<text>Effect Color</text
							><color-box id="uiDialogBox-effect-color"></color-box> <text>Blend</text
							><select-box id="uiDialogBox-blend"></select-box>
						</detail-grid>
					</detail-box>
				</page-frame>
