				<!-- 界面 - 进度条 -->
				<page-frame value="uiProgressBar">
					<detail-box open>
						<detail-summary>ProgressBar Properties</detail-summary>
						<detail-grid id="uiProgressBar-properties-grid">
							<text>Image</text
							><custom-box
								id="uiProgressBar-image"
								type="file"
								filter="image"
							></custom-box>
							<text>Display</text><select-box id="uiProgressBar-display"></select-box>
							<text>Clip</text
							><custom-box
								id="uiProgressBar-clip"
								type="clip"
								image="uiProgressBar-image"
							></custom-box>
							<text>Type</text><select-box id="uiProgressBar-type"></select-box>
							<text>Center X</text
							><number-box
								id="uiProgressBar-centerX"
								min="0"
								max="1"
								step="0.05"
								decimals="4"
							></number-box>
							<text>Center Y</text
							><number-box
								id="uiProgressBar-centerY"
								min="0"
								max="1"
								step="0.05"
								decimals="4"
							></number-box>
							<text>Start Angle</text
							><number-box
								id="uiProgressBar-startAngle"
								min="-360"
								max="360"
								step="5"
								decimals="4"
								unit="deg"
							></number-box>
							<text>Central Angle</text
							><number-box
								id="uiProgressBar-centralAngle"
								min="-360"
								max="360"
								step="5"
								decimals="4"
								unit="deg"
							></number-box>
							<text>Step</text
							><number-box id="uiProgressBar-step" min="0" max="100"></number-box>
							<text>Progress</text
							><number-box
								id="uiProgressBar-progress"
								min="0"
								max="1"
								step="0.01"
								decimals="4"
							></number-box>
							<text>Blend</text><select-box id="uiProgressBar-blend"></select-box>
							<text>Color Mode</text
							><select-box id="uiProgressBar-colorMode"></select-box>
							<text>Red</text>
							<flex-box id="uiProgressBar-color-0-box">
								<slider-box
									id="uiProgressBar-color-0-slider"
									min="0"
									max="255"
									step="5"
								></slider-box>
								<number-box
									id="uiProgressBar-color-0"
									min="0"
									max="255"
									step="5"
								></number-box>
							</flex-box>
							<text>Green</text>
							<flex-box id="uiProgressBar-color-1-box">
								<slider-box
									id="uiProgressBar-color-1-slider"
									min="0"
									max="255"
									step="5"
								></slider-box>
								<number-box
									id="uiProgressBar-color-1"
									min="0"
									max="255"
									step="5"
								></number-box>
							</flex-box>
							<text>Blue</text>
							<flex-box id="uiProgressBar-color-2-box">
								<slider-box
									id="uiProgressBar-color-2-slider"
									min="0"
									max="255"
									step="5"
								></slider-box>
								<number-box
									id="uiProgressBar-color-2"
									min="0"
									max="255"
									step="5"
								></number-box>
							</flex-box>
							<text>Alpha</text>
							<flex-box id="uiProgressBar-color-3-box">
								<slider-box
									id="uiProgressBar-color-3-slider"
									min="0"
									max="255"
									step="5"
								></slider-box>
								<number-box
									id="uiProgressBar-color-3"
									min="0"
									max="255"
									step="5"
								></number-box>
							</flex-box>
						</detail-grid>
					</detail-box>
				</page-frame>
