				<!-- 界面 - 引用 -->
				<page-frame value="uiReference">
					<detail-box open>
						<detail-summary>Reference Properties</detail-summary>
						<detail-grid id="uiReference-properties-grid">
							<text>Prefab</text
							><custom-box
								id="uiReference-prefabId"
								type="preset-element"
							></custom-box>
							<text>Synchronous</text
							><check-box
								id="uiReference-synchronous"
								class="standard large"
							></check-box>
						</detail-grid>
					</detail-box>
				</page-frame>
