				<!-- 界面 - 文本框 -->
				<page-frame value="uiTextBox">
					<detail-box open>
						<detail-summary>TextBox Properties</detail-summary>
						<detail-grid id="uiTextBox-properties-grid">
							<text>Type</text><select-box id="uiTextBox-type"></select-box>
							<text>Align</text><select-box id="uiTextBox-align"></select-box>
							<text>Text</text><text-box id="uiTextBox-text"></text-box>
							<text>Max Length</text
							><number-box id="uiTextBox-maxLength" min="1" max="100"></number-box>
							<text>Number</text><number-box id="uiTextBox-number"></number-box>
							<text>Min</text
							><number-box
								id="uiTextBox-min"
								min="-1000000000"
								max="1000000000"
								decimals="10"
							></number-box>
							<text>Max</text
							><number-box
								id="uiTextBox-max"
								min="-1000000000"
								max="1000000000"
								decimals="10"
							></number-box>
							<text>Decimal Places</text
							><number-box id="uiTextBox-decimals" min="0" max="10"></number-box>
							<text>Padding</text
							><number-box
								id="uiTextBox-padding"
								min="0"
								max="100"
								unit="px"
							></number-box>
							<text>Size</text
							><number-box
								id="uiTextBox-size"
								min="10"
								max="400"
								unit="px"
							></number-box>
							<text>Font</text><text-box id="uiTextBox-font"></text-box>
							<text>Text Color</text><color-box id="uiTextBox-color"></color-box>
							<text>Selection Color</text
							><color-box id="uiTextBox-selectionColor"></color-box>
							<text>Selection Bg Color</text
							><color-box id="uiTextBox-selectionBgColor"></color-box>
						</detail-grid>
					</detail-box>
				</page-frame>
