				<!-- 界面 - 视频 -->
				<page-frame value="uiVideo">
					<detail-box open>
						<detail-summary>Video Properties</detail-summary>
						<detail-grid id="uiVideo-properties-grid">
							<text>Video</text
							><custom-box id="uiVideo-video" type="file" filter="video"></custom-box>
							<text>Playback Rate</text
							><number-box
								id="uiVideo-playbackRate"
								min="0"
								max="4"
								decimals="4"
							></number-box>
							<text>Loop</text><select-box id="uiVideo-loop"></select-box>
							<text>Flip</text><select-box id="uiVideo-flip"></select-box>
							<text>Blend</text><select-box id="uiVideo-blend"></select-box>
						</detail-grid>
					</detail-box>
				</page-frame>
