				<!-- 界面 - 窗口 -->
				<page-frame value="uiWindow">
					<detail-box open>
						<detail-summary>Window Properties</detail-summary>
						<detail-grid id="uiWindow-properties-grid">
							<text>Layout</text><select-box id="uiWindow-layout"></select-box>
							<text>Scroll X</text
							><number-box
								id="uiWindow-scrollX"
								min="0"
								max="10000"
								unit="px"
							></number-box>
							<text>Scroll Y</text
							><number-box
								id="uiWindow-scrollY"
								min="0"
								max="10000"
								unit="px"
							></number-box>
							<text>Grid Width</text
							><number-box
								id="uiWindow-gridWidth"
								min="0"
								max="1000"
								unit="px"
							></number-box>
							<text>Grid Height</text
							><number-box
								id="uiWindow-gridHeight"
								min="0"
								max="1000"
								unit="px"
							></number-box>
							<text>Grid Gap X</text
							><number-box
								id="uiWindow-gridGapX"
								min="0"
								max="1000"
								unit="px"
							></number-box>
							<text>Grid Gap Y</text
							><number-box
								id="uiWindow-gridGapY"
								min="0"
								max="1000"
								unit="px"
							></number-box>
							<text>Padding X</text
							><number-box
								id="uiWindow-paddingX"
								min="0"
								max="1000"
								unit="px"
							></number-box>
							<text>Padding Y</text
							><number-box
								id="uiWindow-paddingY"
								min="0"
								max="1000"
								unit="px"
							></number-box>
							<text>Overflow</text><select-box id="uiWindow-overflow"></select-box>
						</detail-grid>
					</detail-box>
				</page-frame>
