/* --------------------------------
 * 日志消息
 * --------------------------------
 */
#log-message {
	display: none;
	position: absolute;
	padding: 0 4px;
	left: 0;
	bottom: 0;
	height: auto;
	line-height: 16px;
	background-color: var(--log-message-background);
	/* pointer-events: none; */
	z-index: 10;
}

#log-message.open {
	display: block;
}

log-item {
	display: block;
	white-space: pre;
	user-select: text;
}

log-item.error {
	color: var(--text-color-error);
}

log-path {
	cursor: pointer;
	color: var(--command-color-file);
}

log-path:hover {
	background-color: var(--command-global-event-link-background);
}

log-num {
	color: var(--command-color-number);
}

log-weak {
	color: var(--command-color-weak);
}

log-strong {
	text-decoration: underline wavy var(--command-color-invalid-wave);
}

/* --------------------------------
 * 更新日志窗口
 * --------------------------------
 */
#update-log {
	width: 900px;
	height: 700px;
}

#update-log-tabs {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	height: 32px;
	display: flex;
	border-bottom: var(--tab-item-border);
}

.update-log-tab {
	padding: 2px 16px;
	background-color: var(--tab-item-background);
	border-right: var(--tab-item-border);
	color: var(--text-color);
	cursor: pointer;
	font-size: 0.9em;
	transition: all 0.2s ease;
	flex-shrink: 0;
	border: none;
	font-family: inherit;
	position: relative;
}

.update-log-tab:first-child {
	border-left: var(--tab-item-border);
}

.update-log-tab:hover:not(.active) {
	background-color: var(--tab-item-background-hover);
}

.update-log-tab.active {
	background-color: var(--tab-item-background-selected);
	color: var(--toolbar-item-color-highlight);
}

#update-log-container {
	position: absolute;
	left: 0;
	top: 32px;
	right: 0;
	bottom: 0;
	background-color: var(--input-background);
	border: none;
	border-radius: 0;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px;
}

#update-log-content {
	display: block;
	white-space: pre-wrap;
	user-select: text;
}

text.update-log-title {
	display: block;
	color: var(--plugin-name-color);
	font-size: 1.5em;
}

text.update-log-title p {
	margin: 0 auto;
}

text.update-log-major {
	display: block;
	font-size: 1.1em;
	margin-bottom: 10px;
}

text.update-log-minor {
	display: block;
	opacity: 0.5;
}

/* 捐赠名单样式 */
.donation-list {
	display: block;
	margin-top: 15px;
	padding: 10px;
	border: 1px solid var(--plugin-name-color);
	border-radius: 4px;
}

.donation-item {
	display: block;
	padding: 5px 0;
	border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}

.donation-item a {
	color: var(--plugin-name-color);
	text-decoration: none;
}

.donation-item a:hover {
	text-decoration: underline;
}

/* markdown-it 样式 */

code {
	white-space: break-spaces;
	background-color: #818b981f;
	border-radius: 6px;
	margin: 0;
	padding: 0.2em 0.4em;
	font-size: 85%;
}
