		<!-- 场景页面 -->
		<page-frame id="scene" value="scene">
			<box id="scene-head">
				<box id="scene-head-start">
					<item id="scene-switch-grid" class="toolbar-item" value="grid"></item>
					<item id="scene-switch-light" class="toolbar-item" value="light"></item>
					<item id="scene-switch-animation" class="toolbar-item" value="animation"></item>
					<item
						id="scene-switch-settings"
						class="toolbar-item"
						value="settings"
						hotkey="Alt+S"
					></item>
				</box>
				<box id="scene-head-center">
					<box id="scene-layer">
						<item
							id="scene-layer-object"
							class="toolbar-item"
							value="object"
							hotkey="`"
						></item>
						<item
							id="scene-layer-tilemap-1"
							class="toolbar-item hidden"
							value="1"
							hotkey="1"
						></item>
						<item
							id="scene-layer-tilemap-2"
							class="toolbar-item hidden"
							value="2"
							hotkey="2"
						></item>
						<item
							id="scene-layer-tilemap-3"
							class="toolbar-item hidden"
							value="3"
							hotkey="3"
						></item>
						<item
							id="scene-layer-tilemap-4"
							class="toolbar-item hidden"
							value="4"
							hotkey="4"
						></item>
						<item
							id="scene-layer-tilemap-5"
							class="toolbar-item hidden"
							value="5"
							hotkey="5"
						></item>
						<item
							id="scene-layer-tilemap-6"
							class="toolbar-item hidden"
							value="6"
							hotkey="6"
						></item>
						<item
							id="scene-layer-terrain"
							class="toolbar-item"
							value="terrain"
							hotkey="`"
						></item>
					</box>
					<box id="scene-brush">
						<item
							id="scene-brush-eraser"
							class="toolbar-item"
							value="eraser"
							hotkey="Q"
						></item>
						<item
							id="scene-brush-pencil"
							class="toolbar-item"
							value="pencil"
							hotkey="E"
						></item>
						<item
							id="scene-brush-rect"
							class="toolbar-item"
							value="rect"
							hotkey="R"
						></item>
						<item
							id="scene-brush-oval"
							class="toolbar-item"
							value="oval"
							hotkey="T"
						></item>
						<item
							id="scene-brush-fill"
							class="toolbar-item"
							value="fill"
							hotkey="Y"
						></item>
					</box>
				</box>
				<box id="scene-head-end">
					<slider-box
						id="scene-zoom"
						name="zoom"
						min="0"
						max="4"
						hotkey="-/+"
						active-wheel
					></slider-box>
				</box>
			</box>
			<box id="scene-body">
				<box id="scene-screen" tabindex="-1">
					<marquee-area id="scene-marquee"></marquee-area>
				</box>
				<text id="scene-info"></text>
			</box>
		</page-frame>
